/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2022, 1:45:38 PM
    Author     : meria
*/

/**.btn_ADD{
     -fx-shape:"
        M 25, 50
        a 25,25 0 1,1 50,0
        a 25,25 0 1,1 -50,0
        "
}**/

/*******************************************************************************
 *           
    *I will provide this
 * Tables                                      *
 *                                                                             *
 ******************************************************************************/
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

.table-row-cell:selected {
   -fx-background-color:  #3BB925; 
   -fx-text-background-color:  white;
   
       
}
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}
/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */

.table-view .filler, .tree-table-view .filler,
.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-color: #F4F4F4;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}
.table-view .column-header .label{
   -fx-text-fill:  #3BB925;
   -fx-alignment: CENTER;
  
        
}
.table-view .column-header{
   
   -fx-size: 65;

    -fx-border-color: #F4F4F4;
    -fx-border-width: 0 0 2 0;
    -fx-background-color:  #F4F4F4;
        
}
.date-picker .arrow-button {
	-fx-background-color: #3BB925;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: #F4F4F4;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #3BB925;
}
.date-picker .cell:focused {
	-fx-background-color: #3BB925;
}
.date-picker .selected {
	-fx-background-color: #3BB925;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: #3BB925;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #3BB925;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #F4F4F4;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
.button {
    -fx-background-color:none;
    -fx-border-color:black;
    -fx-text-fill: black;
    -fx-border-radius:30;
}
.button:hover{
    
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: #3BB925;
    -fx-border-color:#3BB925;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

}